.CategoryCard{
    margin: 1%;
    padding-right: 0px;
    background-color:#c9cacafd;
}

.SubCategoryCard{
    background-color:#ebebebfd;
}

.Locker{
    height: 100vh;
}

.StatsCard{
    margin: 1%;
}
.btn{
    outline: none !important;
}
.btn:focus {
        outline: none !important;
}
.btn:active {
    outline: none !important;
  }
.packsContainer{
    height: 100vh;
    min-width: 100vw;
}