.CategoryCard{
    margin: 1%;
    padding-right: 0px;
    background-color:#c9cacafd;
    align-items: left;
    justify-content: left;
    text-align: left;
}

.SubCategoryCard{
    background-color:#ebebebfd;
    align-items: left;
    justify-content: left;
    text-align: left;
}

.Locker{
    height: 100vh;
}

.StatsCard{
    margin: 1%;
}
.btn{
    outline: none !important;
}
.btn:focus {
        outline: none !important;
}
.btn:active {
    outline: none !important;
  }
.packsContainer{
     height: 100vh;
    /* min-width: 60vw; */
    font-size: 10px;
}
.card-body{
    padding: 0%;
    
}

.table{
    margin: 0%;
    border-width: 0%;
    border: unset;
    border-image-width: 0px;
}

.lockerToggle{
    margin-top: 5px;
}